@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,400;1,800&family=Raleway:wght@500;600&family=IBM+Plex+Mono&display=swap');

[prizm-package] {
    overflow: hidden;
    width: 370px;
    height: 130px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

[prizm-package] .text {
    width: calc(100% - 160px);
    padding: 20px 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .2);
    border-right: none;
    float: left;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    -webkit-border-radius: var(--border-radius) 0 0 var(--border-radius);
    -moz-border-radius: var(--border-radius) 0 0 var(--border-radius);
    -ms-border-radius: var(--border-radius) 0 0 var(--border-radius);
    -o-border-radius: var(--border-radius) 0 0 var(--border-radius);
}

[prizm-package] .icon {
    width: 42px;
    display: block;
}

[prizm-package] h4 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: var(--deepblue);
}

[prizm-package] p {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    color: var(--deepblue);
}

[prizm-package] .background {
    background: pink;
    width: 145px;
    margin-left: 15px;
    height: 130px;
    float: left;
}

[prizm-package] .background::before {
    content: "";
    background: var(--red);
    height: 130px;
    width: 30px;
    margin-left: -15px;
    position: absolute;
    bottom: 0;
    display: block;
    transform: skew(12deg);
    -webkit-transform: skew(12deg);
    -moz-transform: skew(12deg);
    -ms-transform: skew(12deg);
    -o-transform: skew(12deg);
}
